/*********
Don't edit this file (plugins/ajax-post-carousel/ajax_post_carousel.css) directly. If you do, when you update the plugin, it will override your changes.
Instead, copy this file into your theme directory and edit the copy.
You can also define your own styles in your theme stylesheet. Just use the carousel id, so your rules have a higher priority than the rules in this file (for example: #apc_carousel_0 .apc_thumb{border:none;})
*********/

/****Please don't edit these two lines. Necessary for the carousel to work****/

.apc_visible_container{position:relative;}
.apc_item{float:left; display:inline;}

/****Be careful when editing the following styles.The arrows may stop working****/

.apc_out_container{position:relative; padding:0 20px;}
.apc_arrow{cursor:pointer; position:absolute; top:20px;}
.apc_prev{left:2px;}
.apc_next{right:2px;}
.apc_active{display:block;}
.apc_inactive{display:none;}

/****Feel free to edit the styles below if you know what you're doing****/

.apc_out_container{margin:0;}
.apc_visible_container{margin:0; padding:0;}
.apc_list{overflow:hidden;}
.apc_item{border:1px solid #666; margin:0 5px; padding:5px;}
.apc_thumb{vertical-align:top; border:1px solid #999;}
.apc_item p{clear:both;}

/*css arrows using borders (doesn't work for ie6)*/
.apc_arrow{border-style:solid; width:0; height:0; text-indent:-9999px;}
.apc_prev{border-width:8px 12px 8px 0; border-color:transparent #446 transparent transparent;}
.apc_next{border-width:8px 0 8px 12px; border-color:transparent transparent transparent #446;}

/*arrow becomes an "loading" indicator when there are posts loading in the background*/
.apc_ajax{display:block; background:url(ajax-arrow.gif) no-repeat 0 0; width:16px; height:16px; border:none;}